<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hair Salon</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <script src="~/js/jquery-3.2.1.min.js"></script>
  <link rel='stylesheet' href="~/css/styles.css">
</head>
<body>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h2> Client Information Page </h2>
        <hr>
        @if (Model != null)
        {
          <form action = "/client/display/update/@Model.GetId()" method ="post">
            <h4>Client Name: @Model.GetName()  <button type="button" class="btn" id="changeName"><span class="glyphicon glyphicon-cog"></span></button></h4>
            <div class="form-group initHidden" id="nameGroup">
              <label for="nameInput">Change Client Name To:</label>
              <input type="text" name="nameInput" value="@Model.GetName()" required>
            </div>

            <h4>Client Stylist: @ViewBag.ClientStylist.GetName() <button type="button" class="btn" id="changeStylistName"><span class="glyphicon glyphicon-cog"></span></button></h4>
            <div class="form-group initHidden2" id="stylistGroup">
            <label for='specialityId'> Choose a new Stylist for @Model.GetName(): </label>
            <select class="form-control" name="stylistId">
              @foreach (var stylist in ViewBag.AllStylists)
              {
                <option value="@stylist.GetId()">@stylist.GetName()</option>
              }
            </select>
            </div>
            <button type="submit" class="btn">Change</button>
          </form>

          <hr>
          <button type="button" class="btn btn-default btn-sm"><a href="/">Home</a></button>
          <button type="button" class="btn btn-default btn-sm"><a href="/stylists">All Stylists</a></button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span><a href="/client/display/delete/@Model.GetId()"> Trash this Client
          </a></button>
        }
      </div>
    </div>
  <div id="footer"><br> Alexander Neumann March 2nd, 2018</div>
</body>

<script type="text/javascript">
  $(document).ready(function(){
    $(".initHidden").toggleClass("hidden");
    $(".initHidden2").toggleClass("hidden");
    $("#changeName").click(function(){
        $(".initHidden").toggleClass("hidden");
    });
    $("#changeStylistName").click(function(){
        $(".initHidden2").toggleClass("hidden");
    });
  });
</script>
