<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hair Salon</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <script src="~/js/jquery-3.2.1.min.js"></script>
  <link rel='stylesheet' href="~/css/styles.css">
</head>
<body>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-12">
        <h2> Stylist Information Page </h2>
        <hr>
        @if (Model != null)
        {
          <h4>Name:@Model.GetName()  <button type="button" class="btn" id="changeName"><span class="glyphicon glyphicon-cog"></span></button></h4>
          <form id="changeName" action = "/stylists/new/name/@Model.GetId()" method = "post">
            <div class="form-group initHidden" id="nameGroup">
              <label for="nameInput">Change Stylist Name To:</label>
              <input type="text" name="nameInput" value="@Model.GetName()">
              <button type="submit" class="btn">Change</button>
            </div>
          </form>
          <hr>
          <h4>Specialities:</h4>
          <ul>
            @foreach (var speciality in ViewBag.Specialities)
            {
              <li>@speciality.GetName()</li>
            }
          </ul>
          <hr>
          <h4>Clients:</h4>
          <ul>
          @foreach (var client in ViewBag.AllClients)
          {
            <li><a href = "/client/display/@client.GetId()">@client.GetName()</a></li>
          }
          </ul>
          <hr>
          <form id="newSpeciality" action = "/stylists/@Model.GetId()" method = "post">
            <label for='specialityId'> Add more Specialities to @Model.GetName(): </label>
            <select class="form-control" name="specialityId">
              @foreach (var speciality in ViewBag.AllSpecialities)
              {
                <option value="@speciality.GetId()">@speciality.GetName()</option>
              }
            </select>
            <button type="submit" class="btn">Add Speciality to @Model.GetName()</button>
          </form>
          <hr>
          <button type="button" class="btn btn-default btn-sm"><a href="/">Home</a></button>
          <button type="button" class="btn btn-default btn-sm"><a href="/new/client/@Model.GetId()">Schedule an Appointment</a></button>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span><a href="/client/display/delete/@Model.GetId()"> Trash this Stylist
          </a></button>
          <button type="button" class="btn btn-default btn-sm"><a href="/stylists">All Stylists</a></button>
        }
      </div>
    </div>
  <div id="footer"><br> Alexander Neumann March 2nd, 2018</div>
</body>

<script type="text/javascript">
  $(document).ready(function(){
    $(".initHidden").toggleClass("hidden");
    $("#changeName").click(function(){
        $(".initHidden").toggleClass("hidden");
    });
  });
</script>
